---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('March 01 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I come from Istanbul and I am a Master's of Informatics student at the Technical University of Munich (TUM).
		I have also done my Bachelor's of Informatics there. I enjoy understanding how things
		<b>really</b> work. I like working on both low level stuff like embedded systems and also on new technologies
		which allow me to build things quickly. Currently, I am focusing more on specializing in deep learning
		in various fields like images and robotics at my university.
	</p>

	<p>
		I like trying out different and foreign things, therefore I have hobbies of very different natures,
		for instance boxing, programming, reading, singing, etc.
	</p>
</Layout>
